.entry-content{
	width: 90% !important;
	max-width: 90% !important;
}
.align-vertical{
	vertical-align: center;
}
.player-details{
}
.kda{
	font-size: 2.5em;
}
.champion, .date{
	font-size: 1em;
}
.win, .win span{
	color: #5dc09e;
	font-family: sans-serif !important;
}
.lost, .lost span{
	color: #e95c4e;
	font-family: sans-serif !important; 
}
.img-circle{
	border-radius: 50%;
}
.img-spell, .img-item {
	width: 10%;
	margin-right: 1%;
}
.img-spell:last-of-type, .img-item:last-of-type{
	margin-right:0;
}
.img-circle{
	width: 90px;
}
.pull-left{
	float: left;
	margin-bottom:20px;
}
.pull-right{
	float: right;
}
.player > .player-details > div > ul > li{
	list-style-type: none;
}
.player-details ul {
	margin:0 !important;
}
.blue-team {
	width:48%;
	margin-right:4%;
}
.purple-team {
	width:48%;
}
.blue-player, .purple-player{
	width: 100%;
}
.progress-info{
	width: 100%;
}
.player-info{
	margin-bottom: 20px;
}
.progress-bar {
	height: 100%;
	border-radius: 13px; /* (height of inner div) / 2 + padding */
	padding: 3px;
}
.progress-bar > .bar {
	height: 5px;
	border-radius: 10px;
}
.progress-bar > .red{
	background-color: red;
}
.progress-bar > .green{
	background-color: green;
}
.progress-bar > .orange{
	background-color: orange;
}
.info {
	float:left;
	margin-top:10px;
	margin-left:10px;
}
@media (min-width: 1450px){
	.player{
		padding: 25px;
	}
}
@media (min-width: 1200px) and (max-width: 1449px){
	.player{
		padding: 20px;
	}
}
@media (min-width: 990px) and (max-width: 1199px){
	.player{
		padding: 15px;
	}
}
@media (min-width: 751px) and (max-width: 989px){
	.player{
		padding: 15px;
	}
}
@media (min-width: 650px) and (max-width: 750px){
	.player{
		padding: 15px;
	}
}
@media (min-width: 501px) and (max-width: 649px){
	.player{
		padding: 15px;
		font-size:80%;
	}
}
@media (max-width: 500px){
	.img-circle{
		width: 65px;
	}
	.player{
		padding: 10px;
		font-size:80%;
	}
}
.searched > .player-info{
	background-color: rgba(171, 255, 0, 0.4);
}
